@using System.Web.Optimization
@model IEnumerable<ReactDemo.Models.CommentModel>
@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
 @Html.React("TickTock", new { })
<br/>
<br/>

    @Html.React("Board", new
{
    initialData = Model,
    //initialData = new List<ReactDemo.Models.CommentModel>().ToArray(),
    url = Url.Action("Comments"),
    submitUrl = Url.Action("AddComment"),
    editUrl = Url.Action("EditComment"),
    deleteUrl = Url.Action("DeleteComment"),
    pollInterval = 2000
})
    <script src="https://fb.me/react-15.0.1.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>
    @Scripts.Render("~/bundles/main")
    @Html.ReactInitJavaScript()

</body>
</html>
